@import "reset.css";
@import "common.scss";
@import "ui.scss";
@import "patch.scss";

.bo-menu {
  overflow: hidden;
}

.bo-menu .el-submenu__title {
  display: flex !important;
  padding: 0 1vmin !important;
  min-width: 100px;
  overflow: hidden;

  .bo-menu__item__text {
    flex: 1;
    min-width: 80px;
    height: fit-content;
  }
}
