.tag-primary {
  background-color: transparent;
  border: solid 1px var(--primary);
  color: var(--primary);
  display: inline-block;
  height: 24px;
  line-height: 22px;
  padding: 0 8px;
  font-size: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  white-space: nowrap;
}

.tag-secondary {
  background-color: transparent;
  border: solid 1px var(--secondary);
  color: var(--secondary);
  display: inline-block;
  height: 24px;
  line-height: 22px;
  padding: 0 8px;
  font-size: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  white-space: nowrap;
}

.gz-tag-success {
  background-color: transparent;
  border: solid 1px var(--success);
  color: var(--success);
  display: inline-block;
  height: 24px;
  line-height: 22px;
  padding: 0 8px;
  font-size: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  white-space: nowrap;
}

.gz-tag-info {
  background-color: transparent;
  border: solid 1px var(--info);
  color: var(--info);
  display: inline-block;
  height: 24px;
  line-height: 22px;
  padding: 0 8px;
  font-size: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  white-space: nowrap;
}

.gz-tag-warning {
  background-color: transparent;
  border: solid 1px var(--warning);
  color: var(--warning);
  display: inline-block;
  height: 24px;
  line-height: 22px;
  padding: 0 8px;
  font-size: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  white-space: nowrap;
}

.gz-tag-danger {
  background-color: transparent;
  border: solid 1px var(--danger);
  color: var(--danger);
  display: inline-block;
  height: 24px;
  line-height: 22px;
  padding: 0 8px;
  font-size: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  white-space: nowrap;
}

.gz-tag-light {
  background-color: transparent;
  border: solid 1px var(--light);
  color: var(--light);
  display: inline-block;
  height: 24px;
  line-height: 22px;
  padding: 0 8px;
  font-size: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  white-space: nowrap;
}

.gz-tag-dark {
  background-color: transparent;
  border: solid 1px var(--dark);
  color: var(--dark);
  display: inline-block;
  height: 24px;
  line-height: 22px;
  padding: 0 8px;
  font-size: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  white-space: nowrap;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    margin-bottom: 28px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 1px 3px 0 rgba(54,74,99,.05);
}

.drawing__text {
    font-family: "PingFang SC";
    fill: none;
    stroke: url("#geekColor");
    stroke-width: 1;
    stroke-dasharray: 10 800;
    stroke-dashoffset: 10;
    animation: 3s linear 0s drawing
      forwards infinite;
  }

  /* 绘画动画 */
  @keyframes drawing {
    to {
      stroke-dasharray: 800;
      stroke-dashoffset: 0;
    }
  }


.material.input__box {
  position: relative;
}

.material .input__fill {
  outline: none;
  height: 34px;
  line-height: 34px;
  box-sizing: border-box;
  padding: 0 6px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #666;
}

.material .input__fill:not(:placeholder-shown),
.material .input__fill:focus {
  border-color: #3be2be;
}


.material .input__fill::placeholder {
  color: transparent;
}

.material .input__label {
  position: absolute;
  left: 10px;
  top: 5px;
  transition: transform .25s;
  font-size: 16px;
  padding: 0 6px;
  pointer-events: none;
  color: #999;
}


.material .input__fill:not(:placeholder-shown) ~ .input__label,
.material .input__fill:focus ~ .input__label {
  text-shadow:0 0 1px rgba(9,9,9,.1);
  transform: scale(0.75) translate(-20px, -20px);
  color: #00d1a4;
}

img{
  image-rendering: optimizeSpeed;
  image-rendering: -webkit-crisp-edges;
  /*-webkit-optimize-contrast*/
}

.disable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
